// Specific CSS for your home-page
body {
  background-image: url("https://images.unsplash.com/photo-1556855810-ac404aa91e85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
  background-size: cover;
  max-height: 100vh;
}

.card {
  overflow: hidden;
  background: #343A40;
  box-shadow: 0 0 15px #343A40;
  width: 17rem;
  align-self: center;
  color: white;
  border-radius: 3px;
  position: relative;
}

.card a {
  color: white;
}

.card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card .card-infos {
  padding: 16px;
  align-items: flex-start;
  position: absolute;
}

.header {
  color: white;
  padding-top: 30px;
  padding-left: 75px;
}

.upperbox {
  display: flex;
  justify-content: center;
}


.box {
  width: 130vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: auto;
  grid-gap: 2rem;
  align-items: center;
  padding: 2rem 2rem;
  justify-items: center;
}

.top {
  text-align: center;
}
