  
<ul class="ingredients_list">
  <% @doses.each do |dose| %>
    <li class="ingredient-list-item">
      <%= dose.ingredient.name %>
      (<%= dose.description %>)
        <%= link_to "delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure you want to delete this?" } do %>
                  <i class="fas fa-trash-alt text-white"></i>
        <% end %>
      </i>
    </li>
  <% end %>
</ul>
